extends layout

block content
    h1 Contact Management Application
    nav
        a.btn(href="/contacts") View Contacts
        a.btn(href="/edit-contacts") Edit Contacts
        a.btn(href="/add-contact") Add New Contact
